

@media (min-width: 769px) and (max-width: 992px) {
  html {
    font-size: 58%;
  }
  .main-nav-list{
    width:50rem;
  }
  /* .btn-nav{
    display: none;
  } */
  .title-main {
    font-size: 5rem;
    letter-spacing: 1rem;
  }
  .title-sub {
    font-size: 2rem;
    letter-spacing: 0.5rem;
  }
  .skill-card {
    width: 24%;
  }
  .card {
    width: 30%;
  }
  .card-heading {
    font-size: 1.8rem;
  }
}


@media (min-width: 576px) and (max-width: 768px) {
  html {
    font-size: 54%;
  }
  body {
    padding: 0;
  }
  .logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}
  .fa-bars{
  position: absolute;
  top: 4rem;
  right: 4rem;
  z-index: 5;
  display: block;
 }
 .fa-xmark{
   position: absolute;
  top: 4rem;
  right: 4rem;
  z-index: 5;
  display: none;
}
.btn-nav{
  display: block;
}
/* .phone-nav{
  display: block;
} */
  .nav-container{
    width: 100%;
  }
 .nav-bar{
  display: block;
 }
 
.main-nav-list{

  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
   background-image: linear-gradient(
    to right,
    rgba(46, 234, 242, 1),
    rgba(46, 100, 242, 1.1)
  );
  z-index: 2;
display: none;

}
.main-nav-list.show-menu {
  display: flex;
}
.main-nav-link{
  color: #fff;
  display: inline-block;
  text-transform:uppercase;
  font-size:1.5rem;
  font-weight: 600;
    padding: 1rem;

}
 
  .title-main {
    font-size: 4rem;
    letter-spacing: 1rem;
  }
  .title-sub {
    font-size: 2rem;
    letter-spacing: 0.5rem;
  }
  .section-title,
  .heading-skills {
    font-size: 2.5rem;
    font-weight: 700;
  }
  .skill-card {
    width: 48%;
    margin: 0 auto 20px auto;
  }
  .col-2 {
    max-width: 48%;
    margin-bottom: 20px;
  }
  .photo {
    /* height: 31rem; */
    /* display: none; */
  }
  .card {
    width: 48%;
    margin: 0 auto 20px auto;
  }
 
}

@media (max-width: 576px) {
  html {
    font-size: 40%;
  }
  body {
    padding: 0;
  }
.logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.fa-bars{
  position: absolute;
  top: 4rem;
  right: 4rem;
  z-index: 5;
  display: block;
 }
 .fa-xmark{
   position: absolute;
  top: 4rem;
  right: 4rem;
  z-index: 5;
  display: none;
}
.btn-nav{
  display: block;
}

  .nav-container{
    width: 100%;
  }
 .nav-bar{
  display: block;
 }
 .main-nav-list{
  display: none;
 }
.main-nav-list.show-menu{

  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
   background-image: linear-gradient(
    to right,
    rgba(46, 234, 242, 1),
    rgba(46, 100, 242, 1.1)
  );
  z-index: 2;
display: none;

}


.main-nav-list.show-menu {
  display: flex;
}
.main-nav-link{
  color: #fff;
  display: inline-block;
  text-transform:uppercase;
  font-size:1.5rem;
  font-weight: 600;
    padding: 1rem;

}


  .title {
    margin-bottom: 3rem;
  }
  .title-main {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 1rem;
  }
  .title-sub {
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
  }
 
.image-container{
  height: 25rem;
  
}
 
  .col-2 {
    max-width: 100%;
    margin-bottom: 20px;
  }
  .section-title,
  .heading-skills {
    font-size: 2.5rem;
    font-weight: 700;
  }
  .skill-card {
    width: 60%;
    margin: 0 auto 20px auto;
  }
  .brands,
  .fa-regular {
    width: 10%;
  }
 
  .card {
    width: 60%;
    margin: 0 auto 20px auto;
  }
  
}
@media (min-width:993px) and (max-width:1200px)  {
  html {
    font-size: 65%;
  }
   /* .btn-nav{
    display: none;
  } */
  .title-main {
    font-size: 5rem;
    letter-spacing: 1rem;
  }
  .title-sub {
    font-size: 2rem;
    letter-spacing: 0.5rem;
  }
  .card-heading {
    font-size: 1.7rem;
  }
}
